name: CI/CD Pipeline

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: gradle:latest
    env:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false"
      FF_USE_FASTZIP: "true"
      ARTIFACT_COMPRESSION_LEVEL: "fast"
      CACHE_COMPRESSION_LEVEL: "fast"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update apt
        run: apt-get update -y

      - name: Download Chrome
        run: wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb

      - name: Install Chrome
        run: apt install ./google-chrome-stable_current_amd64.deb -y

      - name: Check Chrome version
        run: google-chrome --version

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Assemble project
        run: gradle assemble -x test --build-cache --gradle-user-home cache/ -i

  test:
    needs: build
    runs-on: ubuntu-latest
    container: gradle:latest
    env:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false"
      FF_USE_FASTZIP: "true"
      ARTIFACT_COMPRESSION_LEVEL: "fast"
      CACHE_COMPRESSION_LEVEL: "fast"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle') }}

      - name: Run tests
        run: gradle clean test --tests "com.co.vozy.runners.CompraSwagLabsRunner" -Denvironment=prod -i

      - name: Upload Serenity report
        uses: actions/upload-artifact@v3
        with:
          name: Serenity staging enviroment report
          path: target/site/serenity
          retention-days: 7

